*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}