footer {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    width: 100%;
    min-height: 80px;
    padding: 20px;
    text-align: center;
    border-top: 5px solid var(--cor-destaque);
}
