nav {
    background-color: var(--cor-secundaria);
    min-height: 50px;
    padding: 10px;
    border-radius: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: var(--cor-branco);
    text-decoration: none;
    font-weight: bold;
}