@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

@import url('variables.css');

@import url('header.css');
@import url('nav.css');
@import url('main.css');
@import url('article.css');
@import url('aside.css');
@import url('footer.css'); 
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background-color: var(--cor-fundo);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}